@model List<src.Models.AList>
@{
    ViewData["Title"] = "All Lists";
}
<h2>@ViewData["Title"]</h2>
<br />
<div class="container">
    <table class="table">
        @Html.Partial("PartialListofLists")
        <tfoot>
            <tr>
                <td colspan="2">List Count: @Model.Count</td>
            </tr>
        </tfoot>
    </table>
</div>