@model List<src.Models.AList>
@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"], Recent Lists</h2>
<br />
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var OneItem in Model)
            {
            <tr>
                <td>@OneItem.Title</td>
                <td><a href='@Url.Action("Show", "List", new { id = OneItem.ID })'>View</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>