@model List<src.Models.AList>
@{
    ViewData["Title"] = "Home Page";
}
<h2>@ViewData["Title"], Recent Lists</h2>
<br />
<div class="container">
    <table class="table">
        @Html.Partial("PartialListofLists")
    </table>
</div>